<script id="tmpl_collection-list-item" type='text/x-ko'>
  <div class="panel-list-thumbnail-container" data-bind="css: {'panel-list-thumbnail-placeholder': !thumbnail()}">
    <img class="panel-list-thumbnail"  data-bind="attr: {src: thumbnail(), alt: escape(dataset_id), onerror: 'this.src = \'/images/image-unavailable.svg\''}">
  </div>
  <div class="panel-list-info-container">
    <h3 data-bind="text: dataset_id"></h3>
    <p class="collection-granules-info panel-list-comparison-details">
      <!-- ko if: granuleDescription -->
      <strong><span class="panel-list-granule-description" data-bind="text: granuleDescription"></span></strong>
      <!-- /ko -->
      <strong>• <span data-bind="text: timeRange"></span> •</strong>
      <span data-bind="truncatedText: summary, maxLength: 280"></span>
    </p>
    <p class="panel-list-badges">
      <!-- ko if: gibs() -->
      <span href="#" class="badge badge-gibs" data-tooltip="true" title="Supports advanced map visualizations using the GIBS tile service">
        <span class="badge-content">Map Imagery</span>
      </span>
      <!-- /ko -->
      <!-- ko if: cwic() -->
      <span href="#" class="badge badge-cwic" data-tooltip="true" title="Int'l / Interagency Data">
        <span class="badge-content">CWIC</span>
      </span>
      <!-- /ko -->
      <span class="badge badge-meta">
        <span class="badge-content">
          <!-- ko if: version_id && version_id !== 'Undefined' && version_id !== 'Not provided' -->
          <span data-bind="text: short_name"></span> v<span data-bind="text: version_id"></span>
          <!-- /ko -->
          <!-- ko ifnot: version_id && version_id !== 'Undefined' && version_id !== 'Not provided' -->
          <span data-bind="text: short_name"></span>
          <!--/ko-->
          <!-- ko if: org() -->
          - <span data-bind="text: org()"></span>
          <!-- /ko -->
        </span>
      </span>
    </span>
  </div>
  <div class="panel-list-item-actions-container">
    <div class="panel-list-item-actions">
      <!-- ko if: $root.ui.collectionsList.canQueryCollectionSpatial($data) -->
      <a href="#" class="button icon-button" title="Search using this collection's location"
         data-bind="css: {'button-active': $root.query.spatial() == spatial_constraint()}, click: $root.ui.collectionsList.toggleQueryCollectionSpatial">
        <i class="fa fa-map-marker"></i>
      </a>
      <!-- /ko -->
      <a href="#" class="button icon-button master-overlay-forward" data-master-overlay-forward="Collections" data-bind="click: $root.ui.collectionsList.showCollectionDetails" title="View collection details">
        <i class="fa fa-info-circle"></i>
      </a>
      <a href="#" class="button icon-button add-to-project primary" data-pulse="#project-count" title="Add collection to the current project"
         data-bind="visible: !$root.project.hasCollection($data) && has_granules, click: $root.ui.projectList.toggleCollection">
        <i class="fa fa-plus"></i>
      </a>
      <a href="#" class="button icon-button remove-from-project button-active" data-pulse="#project-count" title="Remove collection from the current project"
         data-bind="visible: $root.project.hasCollection($data), click: $root.ui.projectList.toggleCollection">
        <i class="fa fa-minus"></i>
      </a>
    </div>
  </div>
</script>
